<h2>New order</h2>

<ul>
  <% if @errors %>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  <% end %>
</ul>

<form action="/users/<%= current_user.id %>/orders" method="POST">

  <p><label>Name: <%= current_user.first_name %><%= current_user.last_name %></label></p>

  <p><label>Address:</label></p>
  <input type="text" name="oder[location]"></p>

  <p><label>Delivery time:</label></p>
  <input type="datetime-local" name="order[delivery_time]"></p>
  <input type="hidden" name="order[cat_id]" value="<%= @cat.id %>">
  <input type="hidden" name="order[user_id]" value="<%= current_user.id %>">
  <input type="submit" value="Place your order">
</form>

  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_hEQKyzlmCn5JTdeVqHq72xof"
    data-amount="999"
    data-name="Demo Site"
    data-description="Widget"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto">
  </script>
